:root {
  --color-background: #ece6d9;
  --color-white: white;
  --color-danger: #db3b13;
  --color-success: #26b66e;
  --color-grey: #ada9a1;
  --color-grey-dark: #6d685f;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  background: var(--color-background);
}
