body {
  font-size: 20px;
  font-family: sans-serif;
}

label {
  margin-bottom: 20px;
  font-size: 20px;
  display: block;
}

select {
  font-size: 20px;
  margin-bottom: 20px;
}

input[type="number"] {
  display: block;
  font-size: 20px;
  margin-bottom: 20px;
}

.form-control {
  display: flex;
  align-items: center;
}

.form-control > label {
  margin-right: 1rem;
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  text-align: center;
  line-height: 150px;
  font-size: 32px;
  font-weight: bold;
}

.background-green {
  background-color: #45d619;
}

.background-purple {
  background-color: #767dea;
}

.text-white {
  color: #ffffff;
}

.text-black {
  color: #424242;
}

.text-orange {
  color: #ffc26f;
}
