*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
}

#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #35495e;
  color: #42b883;
}

#app[v-cloak] {
  background-color: yellow !important;
}
