*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --color-background-light: rgb(105, 137, 168);
  --color-background: #35495e;
  --color-text: #42b883;
  --color-text-light: #66e0a9;
}

html {
  font-size: 18px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-text);
}

#app {
  overflow-y: auto;
  margin: 0 auto;
  max-width: 600px;
  padding: 2rem;
}

#app[v-cloak] {
  display: none;
}

hr {
  width: 80%;
  margin: 2.5rem 0;
  border-color: var(--color-text);
}

.form-control {
  margin: 1rem 0;
}

label {
  margin-right: 1rem;
}

input {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  color: var(--color-text);
  background: transparent;
  border: 2px solid black;
  border-color: currentColor;
}

input:focus {
  outline-style: dashed;
  outline-width: 2px;
  outline-offset: 2px;
  outline-color: var(--color-background-light);
  color: var(--color-text-light);
}

a, a:visited {
  color: var(--color-text);
}

a:hover {
  color: var(--color-text-light);
}

.header {
  margin-bottom: 2rem;
  margin-top: 4rem;
  border-bottom: 2px solid var(--color-background-light);
}

button {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  color: var(--color-text);
  background: transparent;
  border: 2px solid black;
  border-color: currentColor;
  cursor: pointer;
}

button:hover {
  color: var(--color-text-light);
}

button:focus {
  outline-style: dashed;
  outline-width: 2px;
  outline-offset: 2px;
  outline-color: var(--color-background-light);
}

.button-group {
  margin: 0 -0.5rem;
}

.button-group * {
  margin: 0 0.5rem;
}
