<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VueJS course</title>
  <link rel="stylesheet" href="./app.css">
</head>
<body>
  <div id="app" v-cloak>

    <h1>Vue fundamentals</h1>

    <div class="header">
      <h2>Input models</h2>
    </div>

    <h3>{{ fullName() }}</h3>

    <div class="form-control">
      <label>First Name</label>
      <!-- These four below are the same -->
      <input type="text" :value="firstName" @input.prevent="updateFirstName($event)">
      <!--
      <input type="text" v-model="firstName">
      <input type="text" v-bind:value="firstName" v-on:input="updateFirstName">
      <input type="text" :value="firstName" @input="updateFirstName">
      <input type="text" :value="firstName" @input="updateFirstName($event)">
      -->
    </div>

    <div class="form-control">
      <label>Middle Name</label>
      <input type="text" :value="middleName" @keyup.enter="updateMiddleName($event)">
    </div>

    <div class="form-control">
      <label>Last Name</label>
      <input type="text" v-model="lastName">
    </div>

    <div class="header">
      <h2>Binding (v-bind)</h2>
    </div>

    <p>
      Basic v-bind:href
      <a v-bind:href="googleUrl" target="_blank">&rarr; Google</a>
    </p>

    <p>
      Shorthand :href
      <a :href="googleUrl" target="_blank">&rarr; Google</a>
    </p>

    <p v-html="rawGoogleUrl"></p>

    <div class="header">
      <h2>Events (v-on)</h2>
    </div>

    <p>Counter: {{ counter }}</p>
    <div class="button-group">
      <button v-on:click="incrementCounter()">+1</button>
      <!-- With no args, you can omit parentheses -->
      <button v-on:click="incrementCounter">+1</button>
      <!-- Shorthand -->
      <button @click="incrementCounter">+1</button>
      <!-- Explicit argument -->
      <button @click="incrementCounter($event)">+1</button>
      <!-- Via expression -->
      <button @click="counter++">+1</button>
      <!-- Only increment if holding Ctrl -->
      <button @click.ctrl="incrementCounter">+1</button>
    </div>

  </div>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="./app.js"></script>
</body>
</html>
